#cover{background-image: url("image/iconcover.jpg");
          background-color: #381D56;}

body{background-color: transparent;}

#africanbck{background-color: #381D56;}
#african{ margin-top: -1%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
            }
#pharohbck{background-color: #FFB000;}
#pharoh{  margin-top: -1%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;}

#incanbck{background-color: #166068;}
#incan{  margin-top: -1%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;}

#samuraibck{background-color: #7C1116;}
#samurai{  display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;}

#spartanbck{background-color: #3E3E56;}
#spartan{ display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;;
            }

#vikingbck{background-color: #40AEF2;}
#viking{  display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;}

#venicebck{background-color: #661BA8;}
#venice{  display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;}

#knightbck{background-color: #177F00;}
#knight{  display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;}

#doctorbck{background-color: #3F0707;}
#doctor{ display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;}

#nativebck{background-color: #F2690C;}
#native{  display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;}

#deadbck{background-color: #A90097;}
#dead{  display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;}

#luchadorbck{background-color: #0024BC;}
#luchador{  display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;}

